.cqy-order{
    font-size:12px;
    padding:5px;
    li{
        background-color:#efefef;
        border-radius:5px;
        margin-top:5px;
        padding:5px 10px;;
        p:first-child{
            border-bottom:1px solid #ccc;
            line-height:30px;
            font-weight:bold;
            display:flex;
            justify-content:space-between;
            span{
                color:#58bc58;
            }
        }
        table{
            display:flex;
            flex-direction:column;
            padding:5px;
            tr{
                display:flex;
                justify-content:space-between;
                td,th{text-align:center;}
                .cqy-order-colname{
                    text-align:left;
                }
            }
            .cqy-order-colnum{
                width:10%;
            }
            .cqy-order-colname{
                width:50%;
            }
            .cqy-order-colqty{
                width:10%;
            }
            .cqy-order-colprice{
                width:10%;
            }
        }
        p:last-child{
            display:flex;
            justify-content:space-between;
            padding:5px 5px 0 0;
            border-top:1px solid #ccc;
            span{
                color:#f00;
                button:last-child{
                    margin-left:5px;
                }
            }
        }
    }
}
.noOrder{
    p{
        font-size:12px;
        line-height:20px;
        margin:5px;
        display:block;
        text-align:left;
    }
}