main{
    flex: 1;
    display: flex;
    overflow-y:auto;
    flex-direction:column;
    .home-menu{
        display:flex;
        height:100%;
        aside{
            width:15%;
            padding-top:10px;
            li{
                height:60px;
                line-height:30px;
                text-align:center;
                a{text-decoration:none;}
                a.active{
                    background-color:#000;
                }
                span{
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                }
            }
        }
        article{
            flex:1;  
            display:flex;
            overflow-y:auto;
        }
    }
        
}


