main{
    flex: 1;
    display: flex;
    overflow-y:auto;
    flex-direction:column;
    .home-menu{
        display:flex;
        height:100%;
        aside{
            width:15%;
            li{
                height:30px;
                line-height:30px;
                text-align:center;
                border-bottom:1px solid #ccc;
            }
        }
        article{
            flex:1;  
            display:flex;
            overflow-y:auto;
        }
    }
        
}


