main{
    flex: 1;
    display: flex;
    overflow-y:auto;
    flex-direction:column;
    nav{
        height:30px;
        ul{
            display:flex;
            li{
                line-height:30px;
                padding:0 10px;
            }
        }
    }
    .home-menu{
        display:flex;
        height:100%;
        aside{
            width:15%;
            li{
                height:30px;
                line-height:30px;
                text-align:center;
            }
        }
        article{
            flex:1;  
            display:flex;
            overflow-y:auto;
        }
    }
        
}


